body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}
a{
    text-decoration: none;
}
ul, ol {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
img {
    display: block;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background is not set on container, but the section is contains */
}

.header-flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    color:  #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
}
.logo-part-footer {
    color: #F4F4FD;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
}
nav ul {
    display: flex;
    gap: 40px;
}
nav li {
    display: inline-block;
}

.nav-link {
    color:  #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus{
    color: #404BBF;
}
.address {
    font-style: normal;
    display: flex;
    align-items: center;
    
}
.address ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
}
.address ul li { 
    display: inline-block; 
}
.address-link {
    color:  #434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* .section-header {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
} */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.page-heading {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 0;
    text-wrap: balance;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.call-for-action {
    display: block;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    min-height: 56px;
    border: none;
    border-radius: 4px;
}
.call-for-action:hover,
.call-for-action:focus {
    background-color: #404BBF;
}

.advantages {
    padding: 120px 0;
}

.advantages-list {
    display: flex;
    gap: 24px;
}
.advantages-list-item {
    width: calc((100% - 72px) / 4);
}
.advantage-card-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.advantage-card-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.staff{
    padding: 120px 0;
    background-color: #F4F4FD;
}

.staff-list {
    display: flex;
    gap: 24px;
}

.staff-card-container {
    padding: 32px 0;
}

.staff-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.staff-card {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}
.staff-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.staff-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.portfolio {
    padding: 120px 0;
}

.portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-item-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
}
.footer-slogan {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}